.row::after {
    content: "";
    clear: both;
    display: table;
    appearance: none;
    align-self: first baseline
    
    first baseline;
    font-size: 20px;
    font-weight: 400;
    color: #00539b;

    text-align: center;
    text-decoration: none;
}